# Environment variables
.env
env_config.txt

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store

# API Keys and sensitive files
Config/Keys.plist